body {
  background-color: #FED7D4;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.title {
  grid-column: 3 / span 1;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.subtitle {
  grid-column: 3 / span 1;
  text-align: center;
  font-size: 14px;
  margin-bottom: 20px;
}

.logo {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 20%;
  /* Reduce the size of the logo by 60% */
}

.grid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 1200px;
}

.grid-row {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.grid-row-text {
  display: flex;
  align-items: center;
  width: 20%;
  text-align: right;
  margin-right: 20px;
  position: relative;
}

.grid-row-text .info-icon {
  margin-left: 5px;
  cursor: pointer;
}

.grid-row-text .tooltip {
  visibility: hidden;
  width: 200px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  /* Position the tooltip above the text */
  left: 50%;
  margin-left: -100px;
  opacity: 0;
  transition: opacity 0.3s;
}

.grid-row-text .tooltip::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.grid-row-text:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 80%;
  /* Make the grid scale with the browser window */
}

.image-container {
  position: relative;
  cursor: pointer;
}

.image {
  width: 100%;
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.image-container:hover .image {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.image.clicked {
  border: 2px solid #000;
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.play-symbol {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25px;
  height: 25px;
  background-image: url('/play-button-arrowhead.png');
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s, box-shadow 0.2s;
}

.image-container:hover .play-symbol {
  transform: translate(-50%, -50%) translateY(-10px);
}

.play-symbol.hidden {
  display: none;
}

.column-text {
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
}